.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}
.login-logo img {
  max-width: 150px;
}
.list {
  margin-bottom: 0;
}
img{align-content: center;
max-width: 15%;}
*{align-content: center;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

